.horiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0;
    gap: 20px;
}

.container {
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 36px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #628068;

}

.wantedWrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    padding: 0;
}

.wanted {
    z-index: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    // min-width: 100%;
    gap: 20px;
    list-style-type: none;
}
.topBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 1;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.backButton:visited {
    font-size: 1rem;
    color: #BB6F4D;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.backButton {
    z-index: 1.15;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #BB6F4D;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50px;
    background-color: #E6CEBD;
    opacity: 1;
}


.header {
    z-index: 1;
    color: #E6CEBD;
    text-align: left;
    align-self: flex-start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.75rem;
    padding-top: 10px;
    font-weight: 700;
    //font francois one
    font-family: 'Francois One', sans-serif;
}

.lu, .ld, .ru, .rd {
    position: fixed;
    width: 50%;
    height: auto;
    z-index: 0;
}



.lu {
    top: 0;
    left: 0;
}

.ru {
    top: 0;
    right: 0;
}

.ld {
    bottom: 0;
    left: 0;
    width: 20%;
}

.rd {
    bottom: 0;
    right: 0;
    width: 50%;
}

.imageContainer {
    margin-top: 20px;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    height: 210px;
    border-radius: 20px;
    background-color: #E6CEBD;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.dataContainer {
    box-sizing: border-box;
    margin-top: 20px;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    // min-height: 210px;
    border-radius: 20px;
    background-color: #E6CEBD;
    padding: 10px 20px;
}

.rating {
    color: #BB6F4D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-size: 1rem;
    & .ratingIcon {
        height: 20px;
        width: 20px;
        margin: 0;
        margin-left: 5px;
    }
}

.name {
    //indi flower font
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    color: #8E412E;
    /* identical to box height */
    margin: 0;
    text-align: left;
}

.icon {
    height: 16px;
    width: 16px;
    // margin-top: 30px;
    color: #628068;
    display: inline;
    margin-right: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wifi {
    font-size: 0.75rem;
    text-align: left;
    color: #628068;
    // display: inline;
    // margin-right: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3px;
}

.address {
    font-size: 0.75rem;
    text-align: left;
    color: #628068;
    // display: inline;
    // margin-right: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}