.container {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 36px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #628068;

    & .grid {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
}
    .bleft, .bright ,.upleft ,.upright{
        position: fixed;
        width: 50%;
        height: auto;
        z-index: 1;
    }
    
   
    
    .bleft {
        bottom: 0;
        left: 0;
        width: 50%;
        z-index:2;
    }
    
    .bright {
        bottom: 0;
        right: 0;
        width: 100%;
    }
.upleft{
    top: 0;
    left: 0;
    width: 30%;
}
.upright{
    top: 0;
    right: 0;
    width: 60%;
}


